/* Fonts */
@font-face {
    font-family: 'Publico Italic';
    src: url('https://wisconsinwatch.org/wp-content/ww-fonts/PublicoText-Italic.otf') format('opentype');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Publico Roman';
    src: url('https://wisconsinwatch.org/wp-content/ww-fonts/PublicoText-Roman.otf') format('opentype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Publico Banner';
    src: url('https://wisconsinwatch.org/wp-content/ww-fonts/PublicoText-Bold.otf') format('opentype');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Publico Extrabold';
    src: url('https://wisconsinwatch.org/wp-content/ww-fonts/PublicoBanner-Extrabold.otf') format('opentype');
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('https://fonts.gstatic.com/s/opensans/v44/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('https://fonts.gstatic.com/s/opensans/v44/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('https://fonts.gstatic.com/s/opensans/v44/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('https://fonts.gstatic.com/s/opensans/v44/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('https://fonts.gstatic.com/s/opensans/v44/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

img {
    border-radius: 8px;
}

section {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

small, p, i, h1, h2, h3, h4, h5, h6, input {
    font-family: "Publico Roman","Georgia","serif";
}

button, summary, span {
    font-family: 'Heebo', sans-serif;
}

.site-header {
    background: var(--newspack-theme-color-bg-body);
    box-shadow: 0 2px 5px #0000001a;
    position: sticky;
    top: 0;
    z-index: 999;
}

.site-header nav {
    font-family: 'Heebo', sans-serif;
}

@media (min-width: 782px) {
    .middle-header-contain .wrapper {
        align-items: flex-end;
        padding-top: 10px;
    }

    .site-header .custom-logo-link {
        margin: 0 0 0px;
    }
}

.bottom-header-contain .wrapper {
    border-bottom-width: 1px;
}


/* Navigation Styles */
.nav1 .main-menu > li > a {
    font-weight: normal;
}

.dd-menu > ul > li.menu-item-has-children .submenu-expand {
    position: relative;
    top: 1px;
}

.site-header .nav1 .main-menu > li:hover,
.site-header .nav1 .main-menu > li > a:hover {
    color: #3090c9;
    opacity: 1;
}

.site-header .social-links-menu li a {
    color: #3090c9;
}

.social-links-menu svg {
    fill: #3090c9;
}

.social-links-menu svg:hover {
    fill: #233166;
}

.entry-title {
    font-family: 'Publico Banner', sans-serif;
}

.entry-content a {
    color: #3090c9;
    text-decoration: none;
    transition: color 0.2s;
}

.entry-content a:hover {
    color: #233166;
    text-decoration: underline;
}

.wp-block-heading {
    scroll-margin-top: 100px;
}

.has-text-align-center {
  text-align: center;
}

.block-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.election-button,
.search-button,
.previous-result-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: white !important;
    background-color: #3090c9;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}

.election-button:hover,
.search-button:hover:not(:disabled),
.previous-result-button:hover {
    background-color: #233166;
    transform: translateY(-1px);
}

.election-button:active {
    transform: translateY(0);
}

.search-button:disabled {
    background-color: #eee;
    cursor: not-allowed;
}

.site-content {
    margin-top: 0.5rem !important;
    padding-bottom: 4em !important;
}

#masthead p, footer {
    font-family: 'Heebo', sans-serif;
}

footer {
    box-shadow: inset 0px 5px 5px 5px #0000001a;
}

@media (min-width: 782px) {
    .wp-block-heading {
        scroll-margin-top: 170px;
    }

    .site-content {
        padding-bottom: 10em !important;
    }
}

@media (max-width: 451px) {
    .social-navigation {
        margin-top: 0.5rem;
    }
}